:root {
    --main-color: #0B3948;
    --secondary-color: #416165;
    --tertiarry-color: #ACB0BD;
    --color-theme: #D0CDD7;
    --color-pastel: #D9DBF1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    height: 100%;
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.header {
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    background-color: var(--main-color);
    width: 300px;
    color: var(--color-theme);
}

.header__image {
    width: 75%;
}

.presentation {
    border-top: 1px solid var(--color-theme);
    border-bottom: 1px solid var(--color-theme);
}

.presentation__h1 {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0 1rem;
}

.presentation__h2 {
    font-weight: normal;
    text-transform: uppercase;
}

.presentation__about,
.contact__title  {
    text-transform: uppercase;
    margin: 2rem 0 1rem;
}

.presentation__text {
    margin: auto;
    width: 90%;
    font-size: .7rem;
    margin: 0 0 1rem;
}

.contact {
    margin: 1rem 0 0 ;
}

.contact__item {
    font-size: .9rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.contact__item__mail {
    color: var(--color-theme);
    text-decoration: none;
}

.contact__item__mail:hover  {
    color: var(--tertiarry-color);
}

.contact__logo {
    margin-bottom: .4rem;
    line-height: 2.3rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-theme);
    border-radius: 1.5rem;
}

.contact__logo:hover,
.interests__logo-item:hover {
    border: none;
    transform: scale(1.5);
}

.main {
    font-size: 1rem;
    padding: 3rem 2rem;
    background-color: var(--color-pastel);
    color: var(--main-color);
}

.main__title {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.main__h5 {
    width: 40%;
    font-weight: bold;
    margin-bottom: .3rem;
}

.main__job__text {
    line-height: .7rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    line-height: .8rem;
}

.main__h6 {
    margin-bottom: .1rem;
    font-size: .7rem;
    font-weight: bold;
}

.experience,
.study,
.skills {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 2rem;
}

.study {
    text-transform: capitalize;

}

.study__bloc {
    margin: 1rem 0;
}

.study__date {
    font-size: .7rem;
}

.skills__bloc {
    display: flex;
    gap: 2rem;
}

.skills__section {
    width: 50%;
    margin-bottom: 1rem;
}

.skills__progress {
    display: flex;
    gap: .5rem;
}

.skills__progress-bar {
    height: 1rem;    
}

.interests__content {
    display: flex;
    justify-content: space-around;
}

.interests__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests__logo-item {
    text-align: center;
    margin-bottom: .4rem;
    line-height: 4rem;
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
}

.interests__logo-item img {
    width: 1.5rem;
}

@media (max-width: 900px) {
    .container {
        width: 600px;
    }
    .skills__progress {
        gap: 0;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .interests__content {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .container {
        
    }    
}

@media (max-width: 450px) {
    .container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .interests__logo-item {
        margin: 0 1rem .4rem;
    }

    .header {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .skills__bloc {
        flex-direction: column;
        align-items: center;
    }
    .interests__content {
        flex-wrap: wrap;
        gap: 1rem;
    }

}